[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/browar666
[access "refs/for/refs/*"]
	read = group user/browar666
	push = group user/browar666
	label-Code-Review = -2..+2 group user/browar666
	label-Verified = -1..+1 group user/browar666
	rebase = group user/browar666
	removeReviewer = group user/browar666
	submit = group user/browar666
[access "refs/heads/*"]
	read = group user/browar666
	create = group user/browar666
	push = +force group user/browar666
	pushMerge = group user/browar666
[access "refs/tags/*"]
	push = +force group user/browar666
	pushTag = group user/browar666
	pushSignedTag = group user/browar666
